{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="row m-3">
    <div class="col-3 p-3 pt-5" >
            <form action="" method="post">
                {% csrf_token %}
                <div class="d-grid gap-3 mx-auto">
                    <button class="btn btn-primary" type="submit">Hyogo</button>
                    <button class="btn btn-primary" type="submit">Osaka</button>
                    <button class="btn btn-primary" type="submit">Kyoto</button>
                    <button class="btn btn-primary" type="submit">Nara</button>
                    <button class="btn btn-primary" type="submit">Shiga</button>
                </div>
            </form>
    </div>
    <div class="col-9 list-group gap-3">
        <div class="p-3 row">
            <div class="col">
                <blockquote class="twitter-tweet" data-width="300">
                    <p lang="ja" dir="ltr">ジブリさん (<a href="https://twitter.com/JP_GHIBLI?ref_src=twsrc%5Etfw">@JP_GHIBLI</a>) に書き下ろしていただいたヘッダーを、ジブリパークのオープンを記念して、みなさんにも使っていただけることになりました🤩<br><br>常識の範囲内でつかって下さい。 
                        <a href="https://t.co/HQ94KU3YAI">pic.twitter.com/HQ94KU3YAI</a>
                    </p>&mdash; Twitter Japan (@TwitterJP) 
                    <a href="https://twitter.com/TwitterJP/status/1587301348604841987?ref_src=twsrc%5Etfw">November 1, 2022</a>
                </blockquote> 
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col">
                <blockquote class="twitter-tweet" data-width="300">
                    <p lang="ja" dir="ltr">ジブリさん (<a href="https://twitter.com/JP_GHIBLI?ref_src=twsrc%5Etfw">@JP_GHIBLI</a>) に書き下ろしていただいたヘッダーを、ジブリパークのオープンを記念して、みなさんにも使っていただけることになりました🤩<br><br>常識の範囲内でつかって下さい。 
                        <a href="https://t.co/HQ94KU3YAI">pic.twitter.com/HQ94KU3YAI</a>
                    </p>&mdash; Twitter Japan (@TwitterJP) 
                    <a href="https://twitter.com/TwitterJP/status/1587301348604841987?ref_src=twsrc%5Etfw">November 1, 2022</a>
                </blockquote> 
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col">
                <blockquote class="twitter-tweet" data-width="300">
                    <p lang="ja" dir="ltr">ジブリさん (<a href="https://twitter.com/JP_GHIBLI?ref_src=twsrc%5Etfw">@JP_GHIBLI</a>) に書き下ろしていただいたヘッダーを、ジブリパークのオープンを記念して、みなさんにも使っていただけることになりました🤩<br><br>常識の範囲内でつかって下さい。 
                        <a href="https://t.co/HQ94KU3YAI">pic.twitter.com/HQ94KU3YAI</a>
                    </p>&mdash; Twitter Japan (@TwitterJP) 
                    <a href="https://twitter.com/TwitterJP/status/1587301348604841987?ref_src=twsrc%5Etfw">November 1, 2022</a>
                </blockquote> 
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col">
                <blockquote class="twitter-tweet" data-width="300">
                    <p lang="ja" dir="ltr">ジブリさん (<a href="https://twitter.com/JP_GHIBLI?ref_src=twsrc%5Etfw">@JP_GHIBLI</a>) に書き下ろしていただいたヘッダーを、ジブリパークのオープンを記念して、みなさんにも使っていただけることになりました🤩<br><br>常識の範囲内でつかって下さい。 
                        <a href="https://t.co/HQ94KU3YAI">pic.twitter.com/HQ94KU3YAI</a>
                    </p>&mdash; Twitter Japan (@TwitterJP) 
                    <a href="https://twitter.com/TwitterJP/status/1587301348604841987?ref_src=twsrc%5Etfw">November 1, 2022</a>
                </blockquote> 
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
 </div>

{% endblock content %}