{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="row m-3">
    <div class="col-3 p-3 pt-5" >
            <form action="" method="post">
                {% csrf_token %}
                <div class="d-grid gap-3 mx-auto">
                    <button class="btn btn-primary" type="submit" name="region" value="兵庫">Hyogo</button>
                    <button class="btn btn-primary" type="submit" name="region" value="大阪">Osaka</button>
                    <button class="btn btn-primary" type="submit" name="region" value="京都">Kyoto</button>
                    <button class="btn btn-primary" type="submit" name="region" value="奈良">Nara</button>
                    <button class="btn btn-primary" type="submit" name="region" value="滋賀">Shiga</button>
                </div>
            </form>
    </div>
    <div class="col-9 list-group gap-3">
        <div class="p-3 row">
            {% for response in responses %} 
            <div class="col">
                {{ response | safe }}
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            {% endfor %}
        </div>
    </div>
 </div>

{% endblock %}
