{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="row m-5">
    <div class="col">
            <form action="" method="post">
                {% csrf_token %}
                <div class="d-grid gap-3 col-7">
                    <button class="btn btn-primary" type="submit">Hyogo</button>
                    <button class="btn btn-primary" type="submit">Osaka</button>
                    <button class="btn btn-primary" type="submit">Kyoto</button>
                    <button class="btn btn-primary" type="submit">Nara</button>
                    <button class="btn btn-primary" type="submit">Shiga</button>
                </div>
            </form>
    </div>

    <div class="list-group gap-3 mx-3 col">
        <h3 class="mx-auto">text_sample</h3>
        <h3 class="mx-auto">text_sample</h3>
        <h3 class="mx-auto">text_sample</h3>
        <h3 class="mx-auto">text_sample</h3>
        <h3 class="mx-auto">text_sample</h3>
        <h3 class="mx-auto">text_sample</h3>

    </div>
 </div>

{% endblock content %}